body {
  margin: 0;
  background-color: #18191a;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  z-index: 9999;
}

main{
  padding-top: 6rem;
}


.text-line-dots{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-multi-dots{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-body{
  height: 9rem;
}
